<div id="spending_rules" class="page-layout carded fullwidth" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center" >

    <!-- HEADER -->
    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
      fxLayoutAlign.gt-xs="space-between center">

      <!-- APP TITLE -->
      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16" *fuseIfOnDom>bookmark</mat-icon>
        <span class="logo-text h1">Colaboración de autores</span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" [formControl]="filterTextControl" matInput placeholder="Autor a consultar">
        </mat-form-field>

        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" color="warm">ISSN</mat-radio-button>
          <mat-radio-button value="2">Author 2</mat-radio-button>
        </mat-radio-group>


      </div>
      <!-- / SEARCH -->

      <!-- <button mat-raised-button (click)="onNewTag()" class="add-product-button mat-white-bg my-12 mt-sm-0">
          <span>{{ 'GENERAL_TABLE.NEW_TAG' | translate }}</span>
        </button> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD [CODE HERE]  -->
    <div class="content-card mat-white-bg" fusePerfectScrollbar >





      <div *ngFor="let item of articleList" class="article-item">
        <div class="info-tittle">Titulo: {{ item.name }}</div>
        
        <div class="info-autor">Autor principal: {{ item.mainAuthor.name + " " + item.mainAuthor.lastName  }} </div>
        <div class="info">Campos de Estudio: {{ item.fields_of_study }} </div>
        <h2>Colaboró con:</h2>
        <div *ngFor="let colaborator of item.authorsColab">
          <div>{{colaborator.name + " " + colaborator.lastName}}</div>
        </div>


        <!-- <div class="info">Campos de Estudio: {{}} </div> -->
        <!-- <div class="info">Colaboró con: {{ item.fields_of_study }} </div> -->

        <!-- <div>Autor principal: {{ item.mainAuthor.name }} </div> -->
        
      </div>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>