@import "src/app/core/scss/fuse";

:host {
    .header {
      .search-input-wrapper {
        max-width: 480px;
      }
  
      @include media-breakpoint-down(xs) {
        height: 176px !important;
        min-height: 176px !important;
        max-height: 176px !important;
      }
    }
  
    .top-bg {
      @include media-breakpoint-down(xs) {
        height: 240px;
      }
    }
  }

.red-text {
    color: red;
}


.article-item{
  // display: flex;
  // flex-direction: column;

  border: 1px solid;
  border-radius: 15px;
  margin: 4px;
  padding: 10px;
  background: rgb(236, 211, 186);
  margin-bottom: 10px;
}

.info-tittle{
  font-size: 20px;  

}
.info-autor{
  font-size: 20px;  

}
.info{

margin-top: 5px;

}