<div id="spending_rules" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom>bookmark</mat-icon>
                <span class="logo-text h1">Caracterización de autores</span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD [CODE HERE]  -->



        <div class="content-card mat-white-bg" fusePerfectScrollbar>

            <div class="container">
                <div *ngIf="institutioinInfo" class="divTitle">
                    <h1 class="mainTitle">{{ institutioinInfo.name }}</h1>
                </div>
                <section class="main row">
                    <article class="col-xs-12 col-sm-7 col-md-8 col-lg-8">

                        <div class="contenedorTitulos">

                            <h2>Artículos</h2>
                        </div>

                        <ul *ngIf="institutioinInfo && institutioinInfo.articles" class="list-group list-group-flush">
                            <div *ngFor="let item of institutioinInfo.articles">
                                <li class="list-group-item">{{ item }}</li>
                            </div>
                        </ul>
                        <br/>
                        <div class="contenedorTitulos">

                            <h2>Campos de estudio:</h2>
                        </div>


                        <ul *ngIf="institutioinInfo && institutioinInfo.topics" class="list-group list-group-flush">
                            <div *ngFor="let item of institutioinInfo.topics">
                                <li class="list-group-item">{{ item }}</li>
                            </div>
                        </ul>
                    </article>
                    <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4">

                        <ul *ngIf="institutioinInfo && institutioinInfo.authors" class="list-group">
                            <div class="contenedorTitulos">
                                <h2>Autores</h2>
                            </div>

                            <div *ngFor="let item of institutioinInfo.authors">
                                <li class="list-group-item">{{ item }}</li>
                            </div>
                        </ul>
                    </aside>
                </section>

            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
