<div id="spending_rules" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom>bookmark</mat-icon>
                <span class="logo-text h1"></span>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD [CODE HERE]  -->



        <div class="content-card mat-white-bg" fusePerfectScrollbar>

            <div class="container">

                <section class="main row">
                    <article class="col-xs-12 col-sm-7 col-md-8 col-lg-8">

                        <div class="contenedorTitulos">

                            <h2>Instituciones asociadas</h2>
                        </div>
                        <ul *ngIf="fieldInfo && fieldInfo.institution" class="list-group list-group-flush">
                            <div *ngFor="let item of fieldInfo.institution">
                                <li class="list-group-item">{{ item }}</li>
                            </div>
                        </ul>

                    </article>
                </section>
                <!-- / CONTENT CARD -->
            </div>
            <!-- / CENTER -->
        </div>
    </div>